language: node_js
node_js:
  - lts/*

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version version-number
  - export PATH="$HOME/.yarn/bin:$PATH"
  
install:
  - yarn install

script: 
  - yarn build
